<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bid</key>
	<integer>0</integer>
	<key>channel</key>
	<string>0</string>
	<key>constant</key>
	<dict>
		<key>background_clear_shadow_color</key>
		<real>1291845632</real>
		<key>browser_multiwindow_normal_cell_bg</key>
		<real>4280985855</real>
		<key>common_alertview_password_textfield_bg</key>
		<real>4293848814</real>
		<key>common_colorbutton_all_disable_bg</key>
		<integer>1716296442</integer>
		<key>common_colorbutton_blue_highlight_bg</key>
		<integer>4281752955</integer>
		<key>common_colorbutton_red_highlight_bg</key>
		<integer>4294937625</integer>
		<key>common_colorbutton_red_normal_bg</key>
		<integer>4285280296</integer>
		<key>common_colorbutton_text_color</key>
		<integer>4287335569</integer>
		<key>common_colorbutton_yellow_bg_disabled</key>
		<integer>4293650399</integer>
		<key>common_colorbutton_yellow_bg_normal</key>
		<integer>4293650399</integer>
		<key>common_colorbutton_yellow_bg_pressed</key>
		<integer>4294308069</integer>
		<key>common_emptycontent_prompt</key>
		<real>3439329279</real>
		<key>common_function_bg</key>
		<integer>16777215</integer>
		<key>common_statusbar_text_color</key>
		<integer>1</integer>
		<key>common_switch_inactive</key>
		<integer>671088640</integer>
		<key>common_tableviewcell_sel_bg_color</key>
		<integer>436207615</integer>
		<key>common_toolbar_notification_text</key>
		<integer>2113929215</integer>
		<key>favplus_cancel_btn_highlighted_color</key>
		<real>4280377250</real>
		<key>favplus_cancel_btn_normal_color</key>
		<real>4282736238</real>
		<key>favplus_startpull_text_color</key>
		<real>4294967295</real>
		<key>function_addressFiled_searchresult_text_color</key>
		<real>4294967295</real>
		<key>function_bookmark_bookmark_save_text</key>
		<real>4294967295</real>
		<key>function_bookmark_savetypeselect_selected_text_color</key>
		<integer>4294967295</integer>
		<key>function_bookmark_savetypeselect_text_color</key>
		<integer>2147483647</integer>
		<key>function_bookmark_specialcell_color</key>
		<real>4294967295</real>
		<key>function_bookmark_specialcell_editing_color</key>
		<integer>2147483647</integer>
		<key>function_headerbar_bg_color</key>
		<real>436207615</real>
		<key>function_headerbar_editor_bg_color</key>
		<real>234881023</real>
		<key>function_headerbar_editor_border_color</key>
		<real>433115344</real>
		<key>function_history_record_detail_color</key>
		<integer>2147483647</integer>
		<key>function_history_record_title_color</key>
		<integer>4294967295</integer>
		<key>function_history_sectionheader_bg</key>
		<real>268435456</real>
		<key>function_search_aggregationcell_button_bg_color</key>
		<integer>234881023</integer>
		<key>kWeatherYellowColor</key>
		<integer>4293827072</integer>
		<key>kWeatherModeratePollutionColor</key>
		<integer>3439285846</integer>
		<key>kWeatherOrangeColor</key>
		<integer>4294930699</integer>
		<key>kWeatherBestColor</key>
		<integer>3422804279</integer>
		<key>kWeatherRedColor</key>
		<integer>4294923862</integer>
		<key>kWeatherWhiteColor</key>
		<integer>4286547599</integer>
		<key>kWeatherSeriousPollutionColor</key>
		<integer>3437560320</integer>
		<key>kWeatherHeavyPollutionColor</key>
		<integer>3435876607</integer>
		<key>kWeatherBlueColor</key>
		<integer>4278218751</integer>
		<key>kWeatherBetterColor</key>
		<integer>3438453760</integer>
		<key>kWeatherLightPollutionColor</key>
		<integer>3439297838</integer>
		<key>function_search_deleteAll_text_color</key>
		<integer>4294967295</integer>
		<key>function_search_greateip_btn_bgcolor</key>
		<integer>234881023</integer>
		<key>function_search_hotwords_bg_normal</key>
		<real>872415231</real>
		<key>function_search_hotwords_refresh_button_tintColor</key>
		<integer>2147483647</integer>
		<key>function_search_history_title_bg</key>
		<real>436207615</real>
		<key>function_search_ discount_bg</key>
		<integer>436207615</integer>
		<key>function_search_hotwords_text_color</key>
		<real>4294967295</real>
		<key>function_search_hotwords_title_color</key>
		<integer>2147483647</integer>
		<key>function_search_match_label_color</key>
		<real>4294967295</real>
		<key>function_search_match_recordUrl_color</key>
		<integer>2365587455</integer>
		<key>function_search_match_recordUrl_color_highlight</key>
		<integer>4294967295</integer>
		<key>function_skin_wallpapper_bg_mask_color</key>
		<integer>939524096</integer>
		<key>function_startpageheaderbar_bg_color</key>
		<integer>436207615</integer>
		<key>homepage_feeds_cell_bgcolor</key>
		<integer>822083584</integer>
		<key>homepage_feeds_cell_bigseperator_color</key>
		<real>419430400</real>
		<key>homepage_feeds_cell_selected_bgcolor</key>
		<real>218103808</real>
		<key>homepage_feeds_common_color_A1</key>
		<integer>4294967295</integer>
		<key>homepage_feeds_common_color_A2</key>
		<integer>2583691263</integer>
		<key>homepage_feeds_common_color_A5</key>
		<integer>872415231</integer>
		<key>homepage_feeds_common_color_A8</key>
		<real>2583691263</real>
		<key>homepage_feeds_common_color_B1</key>
		<integer>4281949318</integer>
		<key>homepage_feeds_common_color_B6</key>
		<integer>4280901147</integer>
		<key>homepage_feeds_common_color_B7</key>
		<integer>4283065897</integer>
		<key>homepage_feeds_common_color_D2</key>
		<real>452984831</real>
		<key>homepage_feeds_common_color_RedBright</key>
		<integer>2583511388</integer>
		<key>homepage_feeds_common_color_separator</key>
		<real>436207615</real>
		<key>homepage_feeds_common_color_separator_card</key>
		<real>419430400</real>
		<key>homepage_feeds_common_commentview_bgcolor</key>
		<real>218103808</real>
		<key>homepage_feeds_common_commentview_bordercolor</key>
		<real>218103808</real>
		<key>homepage_feeds_common_tab_color</key>
		<integer>4294967295</integer>
		<key>homepage_feeds_common_tipsview_bgcolor</key>
		<integer>1291845632</integer>
		<key>lightroom_cut_off_rule</key>
		<integer>3437552868</integer>
		<key>mainmenu_menu_split_color</key>
		<integer>4292927712</integer>
		<key>mainmenu_menu_user_bg</key>
		<integer>637534208</integer>
		<key>menu_background_mask_color</key>
		<real>941497886</real>
		<key>profile_nickname_text</key>
		<real>4294967295</real>
		<key>profile_prompt_text</key>
		<real>2583691263</real>
		<key>profile_qqnumber_label_color</key>
		<real>2583691263</real>
		<key>push_text_color</key>
		<integer>2365587455</integer>
		<key>push_text_color_highlight</key>
		<integer>4280585202</integer>
		<key>qrcode_result_cell_detail_color</key>
		<real>2583691263</real>
		<key>qrcode_result_cell_highlight_color</key>
		<real>2583691263</real>
		<key>qrcode_result_cell_title_color</key>
		<real>2583691263</real>
		<key>quicklink_edit_toolbar_title_h_color</key>
		<real>4294967295</real>
		<key>quicklink_editview_background_color</key>
		<real>4280296231</real>
		<key>quicklink_thumbitem_shadow_color</key>
		<integer>436207616</integer>
		<key>quicklink_thumbitem_title_shadow_color</key>
		<integer>1711276032</integer>
		<key>quicklinkfolder_bg_color</key>
		<integer>872415231</integer>
		<key>rn_entrance_bg_color</key>
		<integer>0</integer>
		<key>search_vertical_entrance_btn_color</key>
		<integer>436207615</integer>
		<key>search_vertical_leftview_btn_color</key>
		<real>436207615</real>
		<key>segment_btn_pressed_color</key>
		<real>4284597501</real>
		<key>setting_copyrightText_color</key>
		<real>2164260863</real>
		<key>setting_tableViewCell_leftLabel_color</key>
		<real>4294967295</real>
		<key>setting_tableViewCell_rightLabel_color</key>
		<integer>2147483647</integer>
		<key>startpage_background_color</key>
		<integer>822083584</integer>
		<key>startpage_card_edit_cancel_color</key>
		<real>4294967295</real>
		<key>startpage_folder_bottomline_color</key>
		<integer>452984831</integer>
		<key>startpage_hotsite_title_color</key>
		<real>4294967295</real>
		<key>startpage_hotsite_title_shadow_color</key>
		<integer>1291845632</integer>
		<key>startpage_integral_center_background_color</key>
		<real>218103807</real>
		<key>startpage_searchview_background_color</key>
		<integer>436207615</integer>
		<key>startpage_searchview_background_mask_color</key>
		<integer>1191182336</integer>
		<key>startpage_topbar_background_mask_color</key>
		<real>419430400</real>
		<key>startpage_weather_small_color</key>
		<real>4294967295</real>
		<key>theme_bookmark_color_bg</key>
		<real>838860800</real>
		<key>theme_common_color_a1</key>
		<integer>4294967295</integer>
		<key>theme_common_color_a2</key>
		<integer>2952790015</integer>
		<key>theme_common_color_a3</key>
		<real>1694498815</real>
		<key>theme_common_color_a4</key>
		<integer>520093695</integer>
		<key>theme_common_color_a5</key>
		<integer>4294967295</integer>
		<key>theme_common_color_a6</key>
		<integer>2013265919</integer>
		<key>theme_common_color_b1</key>
		<real>4283210490</real>
		<key>theme_common_color_b2</key>
		<integer>4294199351</integer>
		<key>theme_common_color_b3</key>
		<integer>4284141855</integer>
		<key>theme_common_color_b4</key>
		<integer>4284728319</integer>
		<key>theme_common_color_b5</key>
		<integer>4294934594</integer>
		<key>theme_common_color_b6</key>
		<integer>4287227684</integer>
		<key>theme_common_color_b7</key>
		<integer>4294941487</integer>
		<key>theme_common_color_b8</key>
		<integer>4294954811</integer>
		<key>theme_common_color_c1</key>
		<integer>4281545523</integer>
		<key>theme_common_color_c2</key>
		<integer>4286019447</integer>
		<key>theme_common_color_c3</key>
		<integer>4289374890</integer>
		<key>theme_common_color_c4</key>
		<integer>4291611852</integer>
		<key>theme_common_color_c5</key>
		<integer>4294967295</integer>
		<key>theme_common_color_c6</key>
		<integer>1681077043</integer>
		<key>theme_common_color_c7</key>
		<integer>4211081215</integer>
		<key>theme_common_color_c8</key>
		<real>855638016</real>
		<key>theme_common_color_c9</key>
		<integer>1682787661</integer>
		<key>theme_common_color_d1</key>
		<real>838860800</real>
		<key>theme_common_color_d10</key>
		<integer>4283210490</integer>
		<key>theme_common_color_d11</key>
		<integer>855638015</integer>
		<key>theme_common_color_d2</key>
		<integer>436207615</integer>
		<key>theme_common_color_d3</key>
		<integer>637534208</integer>
		<key>theme_common_color_d4</key>
		<real>436207615</real>
		<key>theme_common_color_d5</key>
		<integer>436207616</integer>
		<key>theme_common_color_d6</key>
		<integer>838860800</integer>
		<key>theme_common_color_d7</key>
		<integer>201326592</integer>
		<key>theme_common_color_d8</key>
		<integer>4294967295</integer>
		<key>theme_common_color_d9</key>
		<integer>1694498815</integer>
		<key>theme_common_color_e1</key>
		<integer>4293256677</integer>
		<key>videocenter_find_hint_color</key>
		<real>2164260863</real>
		<key>videoplayer_drama_header_color</key>
		<real>2164260863</real>
		<key>videoplayer_god_disable_text_color</key>
		<real>2164260863</real>
		<key>videoplayer_god_normal_text_color</key>
		<real>4294967295</real>
		<key>videoplayer_god_toolbar_space_text_color</key>
		<real>2164260863</real>
		<key>videoplayer_god_toolbar_title_color</key>
		<real>4294967295</real>
		<key>home_search_placeholder_color</key>
		<integer>2952790015</integer>
	</dict>
	<key>md5</key>
	<string></string>
	<key>name</key>
	<string>深色壁纸</string>
	<key>predefine</key>
	<false/>
	<key>skinid</key>
	<integer>65535</integer>
	<key>version</key>
	<integer>4</integer>
	<key>wallPaper</key>
	<integer>2</integer>
</dict>
</plist>
