<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bid</key>
	<integer>0</integer>
	<key>channel</key>
	<string>0</string>
	<key>constant</key>
	<dict>
		<key>alert_view_bg</key>
		<real>4293190884</real>
		<key>browser_backforward_bg</key>
		<real>4293586158</real>
		<key>browser_multiwindow_normal_cell_bg</key>
		<integer>4292664293</integer>
		<key>browser_readingcenter_billboard_header_text_color</key>
		<real>4288124823</real>
		<key>browser_readingcenter_portal_header_selector_color</key>
		<real>4280585202</real>
		<key>browser_readingcenter_refresh_header_text_color</key>
		<real>4287466893</real>
		<key>browser_readingcenter_subscription_button_title_color</key>
		<integer>4294967295</integer>
		<key>browser_readingcenter_subscription_item_title_color</key>
		<integer>4283782485</integer>
		<key>browser_readingcenter_subscription_name_color</key>
		<integer>4280163870</integer>
		<key>browser_readingcenter_subscription_name_disable_color</key>
		<integer>4289901234</integer>
		<key>browser_readingcenter_subscription_name_highlight_color</key>
		<integer>4280585202</integer>
		<key>business_function_skin_unitmask</key>
		<integer>0</integer>
		<key>cartoon_bkg_color_D1</key>
		<integer>4293980400</integer>
		<key>cartoon_bkg_color_B6</key>
		<real>4281775882</real>
		<key>cartoon_title_color_theme</key>
		<integer>4293869948</integer>
		<key>cbnovel_bkg_color_D5</key>
		<real>4294638330</real>
		<key>cbnovel_title_color_B3</key>
		<real>4285828284</real>
		<key>common_actionsheet_normal_button</key>
		<integer>4280163870</integer>
		<key>common_alert_message</key>
		<integer>4280163870</integer>
		<key>common_alert_message_bg</key>
		<integer>4294967295</integer>
		<key>common_alert_title</key>
		<integer>4280163870</integer>
		<key>common_alertview_password_textfield_bg</key>
		<integer>4293848814</integer>
		<key>common_button_normal_bg</key>
		<real>4294967295</real>
		<key>common_button_normal_bg_press</key>
		<integer>4294111986</integer>
		<key>common_colorbutton_all_disable_bg</key>
		<real>1716296442</real>
		<key>common_colorbutton_black_highlight_bg</key>
		<integer>4280585202</integer>
		<key>common_colorbutton_black_normal_bg</key>
		<integer>4280163870</integer>
		<key>common_colorbutton_blue_highlight_bg</key>
		<real>4284728319</real>
		<key>common_colorbutton_blue_normal_bg</key>
		<integer>4280585202</integer>
		<key>common_colorbutton_red_highlight_bg</key>
		<integer>4294937625</integer>
		<key>common_colorbutton_red_normal_bg</key>
		<integer>4293481264</integer>
		<key>common_colorbutton_text_color</key>
		<integer>4294967295</integer>
		<key>common_colorbutton_yellow_bg_disabled</key>
		<integer>4293650399</integer>
		<key>common_colorbutton_yellow_bg_normal</key>
		<integer>4293650399</integer>
		<key>common_colorbutton_yellow_bg_pressed</key>
		<integer>4294308069</integer>
		<key>common_emptycontent_prompt</key>
		<real>4289901234</real>
		<key>common_function_bg</key>
		<real>4293586158</real>
		<key>common_navigationbar_title</key>
		<real>4281874488</real>
		<key>common_statusbar_text_color</key>
		<integer>0</integer>
		<key>common_switch_active</key>
		<integer>4283210490</integer>
		<key>common_switch_inactive</key>
		<integer>4291611852</integer>
		<key>common_switch_thumb</key>
		<real>4294967295</real>
		<key>common_switch_tint</key>
		<real>4280585974</real>
		<key>common_table_refresh_bg</key>
		<integer>4292862181</integer>
		<key>common_tableviewcell_sel_bg_color</key>
		<integer>4294111986</integer>
		<key>common_toast_text_color</key>
		<integer>4294967295</integer>
		<key>common_toolbar_multiwnd_background_color</key>
		<real>4280427042</real>
		<key>common_toolbar_notification_text</key>
		<real>4287466893</real>
		<key>common_widget_loadingindicator_backgroundcolor</key>
		<real>3170893824</real>
		<key>common_widget_loadingindicator_normal_linecolor</key>
		<real>3439329279</real>
		<key>common_widget_loadingindicator_small_linecolor</key>
		<real>3427572474</real>
		<key>common_widget_loadingindicator_textcolor</key>
		<real>4286019447</real>
		<key>download_tabview_cell_fail_text_color</key>
		<real>4294074686</real>
		<key>explore_cell_common_background_color</key>
		<integer>4280163891</integer>
		<key>explore_cell_common_color_0</key>
		<integer>4294796629</integer>
		<key>explore_cell_common_color_1</key>
		<integer>4291061306</integer>
		<key>explore_cell_common_color_2</key>
		<integer>4291604581</integer>
		<key>explore_cell_common_color_3</key>
		<integer>4283536961</integer>
		<key>explore_cell_common_color_4</key>
		<integer>4282879909</integer>
		<key>explore_cell_common_color_5</key>
		<integer>4282811341</integer>
		<key>explore_cell_common_color_6</key>
		<integer>4285290950</integer>
		<key>explore_cell_default_color_0</key>
		<integer>4284953395</integer>
		<key>explore_cell_default_color_1</key>
		<integer>4284168232</integer>
		<key>explore_cell_default_color_2</key>
		<integer>4284239141</integer>
		<key>explore_cell_default_color_3</key>
		<integer>4281484590</integer>
		<key>explore_cell_default_color_4</key>
		<integer>4280894798</integer>
		<key>explore_cell_default_color_5</key>
		<integer>4281550946</integer>
		<key>explore_cell_default_color_6</key>
		<integer>4281740639</integer>
		<key>favplus_cancel_btn_highlighted_color</key>
		<real>4280585202</real>
		<key>favplus_cancel_btn_normal_color</key>
		<real>4280163870</real>
		<key>favplus_hint_color</key>
		<integer>4287466893</integer>
		<key>favplus_search_placeholder_color</key>
		<real>4287466893</real>
		<key>favplus_startpull_text_color</key>
		<integer>4283190348</integer>
		<key>file_grid_button_subtitle</key>
		<integer>4287466893</integer>
		<key>file_photobrowser_bg_color</key>
		<integer>4279111182</integer>
		<key>function_addressFiled_searchresult_text_clicked</key>
		<integer>4280585202</integer>
		<key>function_addressFiled_searchresult_text_color</key>
		<real>4283256141</real>
		<key>function_bookmark_savetypeselect_selected_text_color</key>
		<integer>4280585974</integer>
		<key>function_bookmark_savetypeselect_text_color</key>
		<integer>4287466893</integer>
		<key>function_bookmark_specialcell_color</key>
		<real>4280163870</real>
		<key>function_bookmark_specialcell_editing_color</key>
		<integer>4289901234</integer>
		<key>function_favplus_profile_bg_color</key>
		<real>4294967295</real>
		<key>function_favplus_profile_name_color</key>
		<integer>4280163870</integer>
		<key>function_favplus_profile_num_color</key>
		<integer>4280163870</integer>
		<key>function_favplus_profile_switchbutton_bg_color</key>
		<integer>4280585203</integer>
		<key>function_favplus_profile_switchbutton_bg_high_color</key>
		<integer>4279453049</integer>
		<key>function_favplus_profile_switchbutton_title_color</key>
		<integer>4294967295</integer>
		<key>function_favplus_profile_switchbutton_title_high_color</key>
		<integer>4284312957</integer>
		<key>function_favplus_profile_syntime_color</key>
		<integer>4287466893</integer>
		<key>function_favplus_searchrecord_clearbtn_title_color</key>
		<integer>4280163870</integer>
		<key>function_headerbar_bg_color</key>
		<integer>4294309365</integer>
		<key>function_headerbar_editor_bg_color</key>
		<real>4294967295</real>
		<key>function_headerbar_editor_border_color</key>
		<integer>4291875024</integer>
		<key>function_history_record_detail_color</key>
		<integer>4287466893</integer>
		<key>function_history_record_title_color</key>
		<integer>4280163870</integer>
		<key>function_history_sectionheader_bg</key>
		<integer>4294638330</integer>
		<key>function_novel_swtich_font_bkg</key>
		<real>4294967295</real>
		<key>function_novel_swtich_font_text</key>
		<integer>4280163870</integer>
		<key>function_push_msg_star_gray</key>
		<integer>4289901234</integer>
		<key>function_push_msg_star_orange</key>
		<real>4294075682</real>
		<key>function_search_aggregationcell_button_bg_color</key>
		<integer>4293914607</integer>
		<key>function_search_deleteAll_text_color</key>
		<real>4280163870</real>
		<key>function_search_greateip_btn_bgcolor</key>
		<real>4294967295</real>
		<key>function_search_hotwords_bg_hightlight</key>
		<real>4293190884</real>
		<key>function_search_history_title_bg</key>
		<integer>4294638330</integer>
		<key>function_search_ discount_bg</key>
		<integer>4293980400</integer>
		<key>function_search_hotwords_bg_normal</key>
		<real>4294111986</real>
		<key>function_search_hotwords_text_color</key>
		<integer>4281480245</integer>
		<key>function_search_hotwords_title_color</key>
		<integer>4287203721</integer>
		<key>function_search_match_label_color</key>
		<integer>4280163870</integer>
		<key>function_search_match_recordUrl_color</key>
		<integer>4287466893</integer>
		<key>function_search_match_recordUrl_color_highlight</key>
		<integer>4280163870</integer>
		<key>function_search_word_title_color</key>
		<real>4280558628</real>
		<key>function_search_word_remark_color</key>
		<real>4287598479</real>
		<key>function_search_word_icon_color</key>
		<real>4293256677</real>
		<key>function_skin_customize_mask_color</key>
		<real>1493172224</real>
		<key>function_skin_customize_view_bg_color</key>
		<integer>4282466625</integer>
		<key>function_startpageheaderbar_bg_color</key>
		<integer>4194303999</integer>
		<key>function_yiya_helpsplit</key>
		<real>4291611852</real>
		<key>function_yiya_inputaccessory_bg</key>
		<integer>4294046452</integer>
		<key>function_yiya_keyboard_button_bg</key>
		<real>4292336093</real>
		<key>function_yiya_keyboardsplit</key>
		<real>4291940817</real>
		<key>function_yiya_voiceenter_bg</key>
		<integer>4294967295</integer>
		<key>homepage_feeds_cell_bgcolor</key>
		<real>4294638330</real>
		<key>homepage_feeds_cell_bigseperator_color</key>
		<real>4293651435</real>
		<key>homepage_feeds_cell_selected_bgcolor</key>
		<real>4292861919</real>
		<key>homepage_feeds_common_button_bordercolor</key>
		<real>4292203989</real>
		<key>homepage_feeds_common_color_A1</key>
		<integer>4280558628</integer>
		<key>homepage_feeds_common_color_A2</key>
		<integer>4284900966</integer>
		<key>homepage_feeds_common_color_A3</key>
		<integer>4287598479</integer>
		<key>homepage_feeds_common_color_A4</key>
		<integer>4289374890</integer>
		<key>homepage_feeds_common_color_A5</key>
		<real>4294967295</real>
		<key>homepage_feeds_common_color_A8</key>
		<real>4287598479</real>
		<key>homepage_feeds_common_color_B1</key>
		<integer>4283210490</integer>
		<key>homepage_feeds_common_color_B2</key>
		<integer>4294199351</integer>
		<key>homepage_feeds_common_color_B3</key>
		<integer>4294945293</integer>
		<key>homepage_feeds_common_color_B4</key>
		<integer>4284728319</integer>
		<key>homepage_feeds_common_color_B5</key>
		<integer>4283399352</integer>
		<key>homepage_feeds_common_color_B6</key>
		<integer>4281775882</integer>
		<key>homepage_feeds_common_color_B7</key>
		<integer>4287220523</integer>
		<key>homepage_feeds_common_color_D1</key>
		<real>4294638330</real>
		<key>homepage_feeds_common_color_D2</key>
		<real>4293256677</real>
		<key>homepage_feeds_common_color_D4</key>
		<integer>4293256677</integer>
		<key>homepage_feeds_common_color_Olympic</key>
		<real>4292203989</real>
		<key>homepage_feeds_common_color_RedBright</key>
		<real>4294787420</real>
		<key>homepage_feeds_common_color_separator</key>
		<real>4293256677</real>
		<key>homepage_feeds_common_color_separator_card</key>
		<integer>4293651435</integer>
		<key>homepage_feeds_common_commentview_bgcolor</key>
		<integer>4294111986</integer>
		<key>homepage_feeds_common_commentview_bordercolor</key>
		<integer>4293190884</integer>
		<key>homepage_feeds_common_pkviewleft_bgcolor</key>
		<integer>4294865256</integer>
		<key>homepage_feeds_common_pkviewleft_fontcolor</key>
		<integer>4294922052</integer>
		<key>homepage_feeds_common_pkviewright_bgcolor</key>
		<integer>4282952173</integer>
		<key>homepage_feeds_common_pkviewright_fontcolor</key>
		<integer>4280063466</integer>
		<key>homepage_feeds_common_tab_bgcolor</key>
		<real>4294967295</real>
		<key>homepage_feeds_common_tab_color</key>
		<integer>4285098345</integer>
		<key>homepage_feeds_common_tipsview_bgcolor</key>
		<real>4294967295</real>
		<key>homepage_rclist_cell_bgColor</key>
		<real>4294638330</real>
		<key>imagebrowserMaskColor</key>
		<real>4279769112</real>
		<key>lightroom_bg</key>
		<real>4294967295</real>
		<key>lightroom_cut_off_rule</key>
		<integer>4293190884</integer>
		<key>main_browser_bg_color</key>
		<integer>4281217330</integer>
		<key>mainmenu_menu_split_color</key>
		<integer>4292927712</integer>
		<key>mainmenu_menu_user_bg</key>
		<integer>4292006610</integer>
		<key>mask_night</key>
		<integer>2568822314</integer>
		<key>menu_download_entry_button_prompt_text_color</key>
		<real>4294967295</real>
		<key>menu_mask_background_color</key>
		<real>2097152000</real>
		<key>news_toolbar_line_color</key>
		<integer>4291282887</integer>
		<key>normal_page_loading_indicator_color</key>
		<real>4286414205</real>
		<key>novel_bkg_color_C6</key>
		<integer>4294267672</integer>
		<key>novel_bkg_color_D1</key>
		<real>4293651435</real>
		<key>novel_bkg_color_D10</key>
		<real>4292203989</real>
		<key>novel_bkg_color_D11</key>
		<integer>4293585642</integer>
		<key>novel_bkg_color_D12</key>
		<integer>4293914607</integer>
		<key>novel_bkg_color_D2</key>
		<integer>4294638330</integer>
		<key>novel_bkg_color_D3</key>
		<integer>4292664540</integer>
		<key>novel_bkg_color_D4</key>
		<real>4294967295</real>
		<key>novel_bkg_color_D5</key>
		<integer>4294945293</integer>
		<key>novel_bkg_color_D8</key>
		<integer>4293914607</integer>
		<key>novel_bkg_color_D9</key>
		<integer>4294440951</integer>
		<key>novel_chapter_button_color</key>
		<real>4280624421</real>
		<key>novel_chapter_button_color_disable</key>
		<real>4292335575</real>
		<key>novel_chapter_button_color_highlight</key>
		<real>4294945293</real>
		<key>novel_chapter_list_bar_select_color</key>
		<integer>4294945293</integer>
		<key>novel_chapter_list_bar_unselect_color</key>
		<real>4280163870</real>
		<key>novel_chapter_select_line_color</key>
		<integer>4293585642</integer>
		<key>novel_chapter_setting_tableview_color</key>
		<real>4293586158</real>
		<key>novel_comment_text_color</key>
		<real>4280585202</real>
		<key>novel_content_drag_line_color</key>
		<integer>4279529441</integer>
		<key>novel_content_epub_footnote_bkg</key>
		<real>4294438870</real>
		<key>novel_content_epub_footnote_border</key>
		<integer>4291610040</integer>
		<key>novel_content_epub_footnote_text</key>
		<real>4282202675</real>
		<key>novel_content_select_text_bkg_color</key>
		<real>4291287272</real>
		<key>novel_content_tipserror_network_color</key>
		<integer>4278190080</integer>
		<key>novel_line_color_D10</key>
		<integer>4292203989</integer>
		<key>novel_line_color_D6</key>
		<integer>4293256677</integer>
		<key>novel_line_color_D7</key>
		<real>4291611852</real>
		<key>novel_mark_color_ND1</key>
		<real>4293424710</real>
		<key>novel_mark_color_ND2</key>
		<real>4294363317</real>
		<key>novel_mark_color_ND3</key>
		<integer>4293424710</integer>
		<key>novel_mark_color_ND4</key>
		<real>4294958494</real>
		<key>novel_mark_color_RD1</key>
		<integer>4292586328</integer>
		<key>novel_mark_color_RD2</key>
		<integer>4294041020</integer>
		<key>novel_mark_color_RD3</key>
		<integer>4287284945</integer>
		<key>novel_mark_color_RD4</key>
		<integer>4292669169</integer>
		<key>novel_paychapter_toolbar_button_bkg_dis_color</key>
		<real>4293980400</real>
		<key>novel_paychapter_toolbar_button_text_dis_color</key>
		<real>4291085508</real>
		<key>novel_shelf_background_color</key>
		<integer>4294111727</integer>
		<key>novel_store_load_progress_color</key>
		<real>4282815743</real>
		<key>novel_text_color_C1</key>
		<integer>4283210490</integer>
		<key>novel_title_color_A1</key>
		<real>4280558628</real>
		<key>novel_title_color_A2</key>
		<integer>4284900966</integer>
		<key>novel_title_color_A3</key>
		<integer>4287598479</integer>
		<key>novel_title_color_A4</key>
		<integer>4289374890</integer>
		<key>novel_title_color_A5</key>
		<integer>4294967295</integer>
		<key>novel_title_color_A6</key>
		<integer>4290624957</integer>
		<key>novel_title_color_A7</key>
		<integer>4291940817</integer>
		<key>novel_title_color_B1</key>
		<real>4283210490</real>
		<key>novel_title_color_B2</key>
		<integer>4294199351</integer>
		<key>novel_title_color_B3</key>
		<real>4294945293</real>
		<key>novel_title_color_B4</key>
		<integer>4290238461</integer>
		<key>novel_title_color_B5</key>
		<integer>4294686383</integer>
		<key>novel_title_color_B6</key>
		<real>4294958494</real>
		<key>novel_title_color_D6</key>
		<integer>4294267672</integer>
		<key>portalreader_title_bg_color</key>
		<real>4294262067</real>
		<key>portalreader_title_color</key>
		<real>4294967295</real>
		<key>portalreader_title_weixin_bgcolor</key>
		<real>4281316921</real>
		<key>profile_face_image_mask_view_color</key>
		<real>16777215</real>
		<key>profile_login_button_placeholder</key>
		<integer>4289901234</integer>
		<key>profile_nickname_text</key>
		<real>4280163870</real>
		<key>profile_nickname_text_nightmode</key>
		<integer>4282736238</integer>
		<key>profile_prompt_text</key>
		<integer>4287466893</integer>
		<key>profile_qqnumber_label_color</key>
		<real>4289901234</real>
		<key>push_text_color</key>
		<integer>4287466893</integer>
		<key>push_text_color_highlight</key>
		<integer>4280585202</integer>
		<key>qrcode_result_cell_detail_color</key>
		<integer>4283190348</integer>
		<key>qrcode_result_cell_highlight_color</key>
		<integer>4280585202</integer>
		<key>qrcode_result_cell_title_color</key>
		<integer>4280163870</integer>
		<key>quicklink_edit_toolbar_title_color</key>
		<integer>4280163870</integer>
		<key>quicklink_edit_toolbar_title_h_color</key>
		<integer>4280585202</integer>
		<key>quicklink_editview_background_color</key>
		<real>4293980400</real>
		<key>quicklinkfolder_bg_border_color</key>
		<real>4291019715</real>
		<key>quicklinkfolder_bg_color</key>
		<integer>4292072403</integer>
		<key>quicklinkfolder_textfield_bg_color</key>
		<integer>436207616</integer>
		<key>rcContent_Cell_Seperator_Color</key>
		<real>4293256677</real>
		<key>rc_background_color</key>
		<real>4293586158</real>
		<key>rc_billboard_border_color</key>
		<real>4293059560</real>
		<key>rc_billboard_bottom_border_color</key>
		<integer>4293322470</integer>
		<key>rc_billboard_item_background_color</key>
		<real>4294967295</real>
		<key>rc_billboard_readed_color</key>
		<integer>4287466893</integer>
		<key>rc_billboard_selected_item_background_color</key>
		<integer>4294375158</integer>
		<key>rc_billboard_title_color</key>
		<integer>4280163870</integer>
		<key>rc_board_color</key>
		<integer>4294262067</integer>
		<key>rc_browseView_bg_color</key>
		<real>3422552064</real>
		<key>rc_browseView_text_color</key>
		<real>4287598479</real>
		<key>rc_channel_addbtn_borderColor</key>
		<integer>4289374890</integer>
		<key>rc_channel_addbtn_textColor</key>
		<real>4280558628</real>
		<key>rc_channel_navbar_bgColor</key>
		<real>4294638330</real>
		<key>rc_commentBtn_color</key>
		<integer>4293848814</integer>
		<key>rc_commentBtn_title_color</key>
		<integer>4287598479</integer>
		<key>rc_commentView_textColor</key>
		<real>4280558628</real>
		<key>rc_commentView_title_disablecolor</key>
		<real>4290559164</real>
		<key>rc_commentView_title_placeholdercolor</key>
		<real>4289374890</real>
		<key>rc_commentView_title_sendcolor</key>
		<real>4283210490</real>
		<key>rc_commentView_title_sendcolor_press</key>
		<real>1716296442</real>
		<key>rc_commentView_title_warning_color</key>
		<real>4294199351</real>
		<key>rc_commentView_titlecolor</key>
		<real>4280558628</real>
		<key>rc_commentView_titlecolor_press</key>
		<real>1713644580</real>
		<key>rc_commentpannel_bgcolor</key>
		<integer>4294967295</integer>
		<key>rc_edit_title_color</key>
		<real>4283210490</real>
		<key>rc_edit_title_select_color</key>
		<real>1716296442</real>
		<key>rc_errorPageColor</key>
		<real>4280163870</real>
		<key>rc_errorPage_Refresh</key>
		<integer>4283210490</integer>
		<key>rc_finish_title_color</key>
		<real>4294967295</real>
		<key>rc_finish_title_select_color</key>
		<real>1728053247</real>
		<key>rc_footer_content_color</key>
		<integer>4283716692</integer>
		<key>rc_footer_shadow_color</key>
		<integer>3221225471</integer>
		<key>rc_hasadded_title_color</key>
		<real>4280558628</real>
		<key>rc_header_background_color</key>
		<real>4293651435</real>
		<key>rc_header_news_title_color</key>
		<integer>4294967295</integer>
		<key>rc_header_news_title_shadow_color</key>
		<real>3204472216</real>
		<key>rc_homefeeds_economic_hotword_bordercolor</key>
		<integer>4292203989</integer>
		<key>rc_homefeeds_economic_hotword_color</key>
		<real>4280558628</real>
		<key>rc_homefeeds_economic_number_gray_color</key>
		<real>4289374890</real>
		<key>rc_homefeeds_economic_number_green_color</key>
		<real>4279019086</real>
		<key>rc_homefeeds_economic_number_red_color</key>
		<real>4294199351</real>
		<key>rc_homefeeds_economic_title_color</key>
		<real>4280558628</real>
		<key>rc_homefeeds_economic_update_color</key>
		<integer>4289374890</integer>
		<key>rc_homefeeds_economic_update_color_select</key>
		<integer>1722460842</integer>
		<key>rc_homefeeds_sports_country_color</key>
		<real>4280558628</real>
		<key>rc_homefeeds_sports_statuslabelColor</key>
		<real>4280558628</real>
		<key>rc_homefeeds_video_commentNum_color</key>
		<integer>4284900966</integer>
		<key>rc_homefeeds_video_fromlabel_color</key>
		<integer>4289374890</integer>
		<key>rc_homefeeds_video_seperateView_color</key>
		<integer>4293848814</integer>
		<key>rc_homefeeds_video_title_color</key>
		<real>4280558628</real>
		<key>rc_image_border_color</key>
		<integer>4292861919</integer>
		<key>rc_image_multiItem_number_color</key>
		<real>4294967295</real>
		<key>rc_image_toolbar_bgcolor</key>
		<real>4279769112</real>
		<key>rc_imagebrowser_toolbar_inputfield_bgcolor</key>
		<real>4281216558</real>
		<key>rc_imagebrowser_toolbar_placeholder_color</key>
		<real>4284900966</real>
		<key>rc_ugcvideo_toolbar_placeholder_color</key>
		<integer>2164260863</integer>
		<key>rc_ugcvideoplay_toolbar_comment</key>
		<real>889192447</real>
		<key>rc_managetabs_bgcolor</key>
		<real>4293914607</real>
		<key>rc_managetabs_loctab_bgcolor</key>
		<integer>4294572537</integer>
		<key>rc_managetabs_select_bgcolor</key>
		<real>1727000559</real>
		<key>rc_managetabs_title_color</key>
		<real>4280558628</real>
		<key>rc_managetabs_title_disable_color</key>
		<real>4291085508</real>
		<key>rc_managetabs_title_highlight_color</key>
		<real>4294262067</real>
		<key>rc_masked_content_color</key>
		<integer>4278190080</integer>
		<key>rc_masked_desp_color</key>
		<integer>4283716692</integer>
		<key>rc_masked_source_color</key>
		<integer>4294967295</integer>
		<key>rc_mb_header_rect_color</key>
		<integer>4281636827</integer>
		<key>rc_moreTab_Tips_Edu_label_Color</key>
		<real>4294967295</real>
		<key>rc_navigationbar_back_titlecolor</key>
		<real>4280163870</real>
		<key>rc_navigationbar_back_titlecolor_select</key>
		<real>1713249822</real>
		<key>rc_navigationbar_back_whitetitlecolor</key>
		<real>4294967295</real>
		<key>rc_navigationbar_back_whitetitlecolor_select</key>
		<integer>1728053247</integer>
		<key>rc_navigationbar_line_color_toutiao</key>
		<real>4294262067</real>
		<key>rc_navigationbar_line_color_weixin</key>
		<real>4281316921</real>
		<key>rc_navigationbar_shadowcolor</key>
		<real>4294967295</real>
		<key>rc_newsCard_color</key>
		<integer>4294967295</integer>
		<key>rc_newsContentBG_Color</key>
		<integer>4294638330</integer>
		<key>rc_news_content_background_color</key>
		<real>4294638330</real>
		<key>rc_news_content_toolbar_multiwindow_number_color</key>
		<real>4281545523</real>
		<key>rc_news_content_top_line_color</key>
		<integer>4291611852</integer>
		<key>rc_news_navigation_comment_bg_color</key>
		<integer>4294267672</integer>
		<key>rc_news_navigation_comment_color</key>
		<integer>4294967295</integer>
		<key>rc_news_title_shadow_color</key>
		<integer>1593835520</integer>
		<key>rc_news_toolbar_comment_background_color</key>
		<real>4294928429</real>
		<key>rc_news_toolbar_comment_number_text_color</key>
		<integer>4294967295</integer>
		<key>rc_news_toolbar_icon_comment_placeholder_color</key>
		<real>4284900966</real>
		<key>rc_news_toolbar_icon_comment_placeholder_disable_color</key>
		<integer>1717986918</integer>
		<key>rc_news_toolbar_icon_input_field_background_color</key>
		<integer>4293454056</integer>
		<key>rc_news_toolbar_icon_input_field_bgenable_color</key>
		<integer>1726540008</integer>
		<key>rc_newscontent_left_countlabel_color</key>
		<real>4287598479</real>
		<key>rc_newscontent_left_title_color</key>
		<real>4280558628</real>
		<key>rc_newscontent_navbar_mask_color</key>
		<real>16777215</real>
		<key>rc_photo_bar_color</key>
		<real>3423473166</real>
		<key>rc_photobrowser_content_color</key>
		<real>2164260863</real>
		<key>rc_photobrowser_datelabel_color</key>
		<real>4284900966</real>
		<key>rc_photobrowser_line_color</key>
		<integer>352321535</integer>
		<key>rc_photobrowser_scroll_bg</key>
		<integer>0</integer>
		<key>rc_photobrowser_shadow_color</key>
		<real>4279769112</real>
		<key>rc_photobrowser_title_color</key>
		<real>4289374890</real>
		<key>rc_pic_content_color</key>
		<integer>4294967295</integer>
		<key>rc_pic_source_site_title_color</key>
		<integer>1728053247</integer>
		<key>rc_pic_source_site_title_hilight_color</key>
		<real>4294967295</real>
		<key>rc_pic_title_color</key>
		<integer>4294967295</integer>
		<key>rc_portal_cell_ad_flag_bg_color</key>
		<integer>4289703855</integer>
		<key>rc_portal_cell_ad_flag_text_color</key>
		<integer>4294967295</integer>
		<key>rc_portal_cell_background_color</key>
		<real>4294967295</real>
		<key>rc_portal_cell_cmt_color</key>
		<integer>4289703855</integer>
		<key>rc_portal_cell_hot_flag_bg_color</key>
		<integer>4293481264</integer>
		<key>rc_portal_cell_hot_flag_text_color</key>
		<integer>4294967295</integer>
		<key>rc_portal_cell_image_bg_color</key>
		<integer>4293322470</integer>
		<key>rc_portal_cell_selected_background_color</key>
		<integer>4293914607</integer>
		<key>rc_portal_cell_sep_line_color</key>
		<integer>4293322470</integer>
		<key>rc_portal_cell_title_color</key>
		<integer>4280163870</integer>
		<key>rc_portal_cell_title_read_color</key>
		<integer>4284769380</integer>
		<key>rc_portal_city_choose_press_bg_color</key>
		<integer>4293914607</integer>
		<key>rc_portal_city_choose_tips_color</key>
		<integer>4280163870</integer>
		<key>rc_portal_header_header_color</key>
		<integer>4294967295</integer>
		<key>rc_portal_header_line_color</key>
		<integer>4293322470</integer>
		<key>rc_portal_header_store_button_color</key>
		<integer>4283210490</integer>
		<key>rc_portal_header_store_button_pressed_color</key>
		<real>4283804415</real>
		<key>rc_portal_header_tab_disable_color</key>
		<integer>4284769380</integer>
		<key>rc_portal_header_title_color</key>
		<integer>4280163870</integer>
		<key>rc_portal_table_toast_bg_color</key>
		<integer>4280163870</integer>
		<key>rc_portal_table_toast_text_color</key>
		<integer>4294967295</integer>
		<key>rc_portalreader_refreshtitle_color</key>
		<real>4287598479</real>
		<key>rc_portalreader_tab_highlight_color</key>
		<real>4294262067</real>
		<key>rc_portal_navbar_color</key>
		<real>4294262067</real>
		<key>rc_portalreader_tab_line_color</key>
		<real>4293256677</real>
		<key>rc_push_backgroundColor</key>
		<integer>4293651435</integer>
		<key>rc_rc_portalreader_tab_normal_color</key>
		<real>4286414205</real>
		<key>rc_subscribedtab_select_color</key>
		<integer>1727348019</integer>
		<key>rc_tab_bg_color</key>
		<real>4294967295</real>
		<key>rc_tab_customizing_background_color</key>
		<real>4294967295</real>
		<key>rc_tab_customizing_bot_cell_title_color</key>
		<integer>4284769380</integer>
		<key>rc_tab_customizing_tip_color</key>
		<integer>4289901234</integer>
		<key>rc_tab_customizing_title_color</key>
		<integer>4289703855</integer>
		<key>rc_tab_customizing_top_cell_title_color</key>
		<integer>4294967295</integer>
		<key>rc_tabcontainerview_bg</key>
		<real>4293848814</real>
		<key>rc_tabcontainerview_card_bg</key>
		<real>4294638330</real>
		<key>rc_tabcontainerview_notadd_bg</key>
		<real>4293848814</real>
		<key>rc_tabmanageSearchView_bg</key>
		<integer>4293914607</integer>
		<key>rc_tabmanage_bg_color</key>
		<real>4294967295</real>
		<key>rc_tabmanage_placeholder_color</key>
		<real>4287598479</real>
		<key>rc_tabmanage_search_bgcolor</key>
		<real>4293914607</real>
		<key>rc_tabmanege_tableview_line_color</key>
		<real>4292927712</real>
		<key>rc_theme_common_color_a1</key>
		<real>4280558628</real>
		<key>rc_theme_common_color_a2</key>
		<real>4284900966</real>
		<key>rc_theme_common_color_a3</key>
		<real>4287598479</real>
		<key>rc_theme_common_color_a4</key>
		<real>4289374890</real>
		<key>rc_theme_common_color_a5</key>
		<real>4294967295</real>
		<key>rc_theme_common_color_b1</key>
		<real>4283210490</real>
		<key>rc_theme_common_color_b2</key>
		<real>4294199351</real>
		<key>rc_theme_common_color_d2</key>
		<real>4294967295</real>
		<key>rc_tips_split_bg_color</key>
		<integer>4292861919</integer>
		<key>rc_toutiao_page_loading_indicator_color</key>
		<integer>4294901760</integer>
		<key>rc_toutiao_pull_refresh_tips_bg_color</key>
		<integer>4294967295</integer>
		<key>rc_toutiao_pull_refresh_tips_color</key>
		<real>4294262067</real>
		<key>rc_upgrade_tips_bg_color</key>
		<integer>3357088025</integer>
		<key>rc_upgrade_tips_header_label_color</key>
		<real>4284045657</real>
		<key>rc_upgrade_tips_icon_label_color</key>
		<integer>4281545523</integer>
		<key>rc_weixin_page_loading_indicator_color</key>
		<integer>4281316921</integer>
		<key>rc_weixin_pull_refresh_tips_color</key>
		<real>4294262067</real>
		<key>readingcenter_portal_bg_color</key>
		<real>4293848814</real>
		<key>rn_entrance_bg_color</key>
		<real>4294967295</real>
		<key>search_guide_color_a1</key>
		<real>4280558628</real>
		<key>search_guide_color_a3</key>
		<real>4287598479</real>
		<key>search_guide_color_a5</key>
		<real>4294967295</real>
		<key>search_guide_color_b1</key>
		<real>4283210490</real>
		<key>search_vertical_entrance_btn_color</key>
		<integer>4293848814</integer>
		<key>search_vertical_leftview_btn_color</key>
		<real>4293848814</real>
		<key>segment_btn_pressed_color</key>
		<integer>1553178542</integer>
		<key>segment_pressed_bg</key>
		<integer>4287864750</integer>
		<key>setting_copyrightText_color</key>
		<integer>4283126614</integer>
		<key>setting_tableViewCell_leftLabel_color</key>
		<integer>4280163870</integer>
		<key>setting_tableViewCell_rightLabel_color</key>
		<real>4289901234</real>
		<key>startpage_background_color</key>
		<real>4294967295</real>
		<key>startpage_card_add_bg_color</key>
		<integer>4293848814</integer>
		<key>startpage_card_edit_cancel_color</key>
		<real>4280585202</real>
		<key>startpage_folder_bottomline_color</key>
		<integer>4293585643</integer>
		<key>startpage_guide_button_color</key>
		<integer>4280585202</integer>
		<key>startpage_guide_button_highlight_color</key>
		<integer>4284728319</integer>
		<key>startpage_guide_text_color</key>
		<real>4289901234</real>
		<key>startpage_hotsite_title_color</key>
		<real>4282799202</real>
		<key>startpage_integral_center_background_color</key>
		<real>436207615</real>
		<key>startpage_search_right_text_color</key>
		<integer>4294967295</integer>
		<key>startpage_searchview_background_color</key>
		<real>4294967295</real>
		<key>startpage_weather_highlight_color</key>
		<integer>4280585202</integer>
		<key>startpage_weather_small_color</key>
		<integer>4287466893</integer>
		<key>tc_circletab_highlight_color</key>
		<integer>4281775882</integer>
		<key>tc_circlesubscribetab_bgcolor</key>
		<integer>4283210490</integer>
		<key>tc_circlevideo_circle_bgcolor</key>
		<real>1711276032</real>
		<key>tc_circlevideo_shareandpause_bgcolor</key>
		<integer>2586059812</integer>
		<key>tc_circlevideo_loading_color</key>
		<integer>3439329279</integer>
		<key>tc_circlevideo_topic_color</key>
		<integer>1275068416</integer>
		<key>tc_circletop_subtitle_color</key>
		<real>4291217094</real>
		<key>text_placeholder_normal</key>
		<real>4287466893</real>
		<key>theme_bookmark_color_bg</key>
		<integer>4294967295</integer>
		<key>theme_common_color_a1</key>
		<real>4280558628</real>
		<key>theme_common_color_a2</key>
		<real>4284900966</real>
		<key>theme_common_color_a3</key>
		<real>4287598479</real>
		<key>theme_common_color_a4</key>
		<real>4289374890</real>
		<key>theme_common_color_a5</key>
		<real>4294967295</real>
		<key>theme_common_color_a6</key>
		<integer>1294214180</integer>
		<key>theme_common_color_a7</key>
		<integer>4294309626</integer>
		<key>theme_common_color_b1</key>
		<real>4283210490</real>
		<key>theme_common_color_b2</key>
		<real>4294199351</real>
		<key>theme_common_color_b3</key>
		<integer>4284141855</integer>
		<key>theme_common_color_b4</key>
		<integer>4284728319</integer>
		<key>theme_common_color_b5</key>
		<integer>4294929996</integer>
		<key>theme_common_color_b6</key>
		<integer>4287227684</integer>
		<key>theme_common_color_b7</key>
		<real>4294941487</real>
		<key>theme_common_color_b8</key>
		<integer>4294954811</integer>
		<key>theme_common_color_c1</key>
		<real>4281545523</real>
		<key>theme_common_color_c2</key>
		<real>4286019447</real>
		<key>theme_common_color_c3</key>
		<real>4289374890</real>
		<key>theme_common_color_c4</key>
		<real>4291611852</real>
		<key>theme_common_color_c5</key>
		<real>4294967295</real>
		<key>theme_common_color_c6</key>
		<integer>1998857252</integer>
		<key>theme_common_color_c7</key>
		<real>4294967295</real>
		<key>theme_common_color_c8</key>
		<real>4294967295</real>
		<key>theme_common_color_c9</key>
		<real>1682787661</real>
		<key>theme_common_color_d1</key>
		<real>4293980400</real>
		<key>theme_common_color_d10</key>
		<real>4283210490</real>
		<key>theme_common_color_d11</key>
		<integer>4294638330</integer>
		<key>theme_common_color_d2</key>
		<real>4294967295</real>
		<key>theme_common_color_d3</key>
		<real>520093696</real>
		<key>theme_common_color_d4</key>
		<real>4293256677</real>
		<key>rc_theme_common_color_d4</key>
		<real>4293256677</real>
		<key>rc_theme_common_color_d6</key>
		<real>4294638330</real>
		<key>rc_buildinbuild_navbar_color</key>
		<real>4294638330</real>
		<key>theme_common_color_d5</key>
		<real>436207616</real>
		<key>theme_common_color_d6</key>
		<integer>838860800</integer>
		<key>theme_common_color_d7</key>
		<real>4293848814</real>
		<key>rc_theme_common_color_d7</key>
		<real>4293848814</real>
		<key>theme_common_color_d8</key>
		<integer>4293256677</integer>
		<key>theme_common_color_d9</key>
		<real>1682787661</real>
		<key>theme_common_color_e1</key>
		<integer>4293256677</integer>
		<key>toolkit_autorefresh_progress_color</key>
		<integer>4286172159</integer>
		<key>topiccircle_circle_headerview_checkinbtn_color</key>
		<integer>4281775882</integer>
		<key>topiccircle_circle_title_color</key>
		<integer>4294967295</integer>
		<key>videocell_disable_color</key>
		<real>4289835441</real>
		<key>videocenter_find_btn_bg_color</key>
		<integer>4280585202</integer>
		<key>videocenter_find_hint_color</key>
		<integer>4289901234</integer>
		<key>videocenter_find_num_color</key>
		<real>4294967295</real>
		<key>videoplayer_bg_color</key>
		<integer>4278190080</integer>
		<key>videoplayer_btn_disable_color</key>
		<integer>1090519039</integer>
		<key>videoplayer_btn_highlight_color</key>
		<real>2164260863</real>
		<key>videoplayer_btn_normal_color</key>
		<integer>4294967295</integer>
		<key>videoplayer_btn_selected_color</key>
		<integer>4282029822</integer>
		<key>videoplayer_drama_header_color</key>
		<real>4287466893</real>
		<key>videoplayer_drama_list_text_color</key>
		<integer>4280585202</integer>
		<key>videoplayer_god_disable_text_color</key>
		<real>4289901234</real>
		<key>videoplayer_god_normal_text_color</key>
		<real>4280163870</real>
		<key>videoplayer_god_qqbar_button_text_color</key>
		<integer>4294967295</integer>
		<key>videoplayer_god_tableview_bg_color</key>
		<real>4293586158</real>
		<key>videoplayer_god_toolbar_space_text_color</key>
		<real>4287466893</real>
		<key>videoplayer_god_toolbar_title_color</key>
		<integer>4278190080</integer>
		<key>videoplayer_goded_color</key>
		<real>4287466893</real>
		<key>videoplayer_loading_title_color</key>
		<real>1728053247</real>
		<key>videoplayer_playing_text_color</key>
		<real>4279534591</real>
		<key>videoplayer_popumenu_linesepator_color</key>
		<integer>637534208</integer>
		<key>videoplayer_progress_bottom</key>
		<integer>4281610020</integer>
		<key>videoplayer_progress_cache</key>
		<integer>4278861978</integer>
		<key>videoplayer_progress_top</key>
		<integer>4280585202</integer>
		<key>videoplayer_recommand_light_color</key>
		<integer>4280585202</integer>
		<key>videoplayer_recommand_text_color</key>
		<real>1728053247</real>
		<key>videoplayer_subtitle_color</key>
		<integer>1724829390</integer>
		<key>videoplayer_title_color</key>
		<real>3439329279</real>
		<key>yiya_level_meter_color</key>
		<real>4294967295</real>
		<key>kWeatherBlueColor</key>
		<integer>4278218751</integer>
		<key>kWeatherYellowColor</key>
		<integer>4293827072</integer>
		<key>kWeatherOrangeColor</key>
		<integer>4294930699</integer>
		<key>kWeatherRedColor</key>
		<integer>4294923862</integer>
		<key>kWeatherWhiteColor</key>
		<integer>4286547599</integer>
		<key>kWeatherBestColor</key>
		<integer>4278442295</integer>
		<key>kWeatherBetterColor</key>
		<integer>4294091776</integer>
		<key>kWeatherLightPollutionColor</key>
		<integer>4294935854</integer>
		<key>kWeatherSeriousPollutionColor</key>
		<integer>4293198336</integer>
		<key>kWeatherModeratePollutionColor</key>
		<integer>4294923862</integer>
		<key>kWeatherHeavyPollutionColor</key>
		<integer>4291514623</integer>
		<key>circle_input_bg_color</key>
		<integer>4293848814</integer>
		<key>common_rn_bg_color</key>
		<integer>4293848814</integer>
		<key>mc_tips_bg_color</key>
		<integer>4294638330</integer>
		<key>mc_cell_tips_bg_color</key>
		<integer>4292927712</integer>
		<key>home_search_placeholder_color</key>
		<integer>4286611584</integer>
	</dict>
	<key>md5</key>
	<string></string>
	<key>name</key>
	<string>Light Room</string>
	<key>predefine</key>
	<true/>
	<key>skinid</key>
	<integer>2</integer>
</dict>
</plist>
