<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bid</key>
	<integer>0</integer>
	<key>channel</key>
	<string>0</string>
	<key>constant</key>
	<dict>
		<key>New item</key>
		<integer>4127195135</integer>
		<key>background_clear_shadow_color</key>
		<integer>436207615</integer>
		<key>common_alert_message</key>
		<real>4287466893</real>
		<key>common_colorbutton_all_disable_bg</key>
		<real>1716296442</real>
		<key>common_colorbutton_black_highlight_bg</key>
		<integer>4280585202</integer>
		<key>common_colorbutton_black_normal_bg</key>
		<integer>4280163870</integer>
		<key>common_colorbutton_blue_highlight_bg</key>
		<real>4284728319</real>
		<key>common_colorbutton_red_normal_bg</key>
		<integer>4293481264</integer>
		<key>common_colorbutton_text_color</key>
		<integer>4294967295</integer>
		<key>common_emptycontent_prompt</key>
		<real>2130706432</real>
		<key>common_function_bg</key>
		<real>16777215</real>
		<key>common_switch_inactive</key>
		<integer>671088640</integer>
		<key>common_tableviewcell_sel_bg_color</key>
		<integer>2147483647</integer>
		<key>function_bookmark_savetypeselect_text_color</key>
		<integer>1713249822</integer>
		<key>function_bookmark_specialcell_color</key>
		<integer>4278190080</integer>
		<key>function_bookmark_specialcell_editing_color</key>
		<integer>2130706432</integer>
		<key>function_headerbar_bg_color</key>
		<integer>1694498815</integer>
		<key>function_headerbar_editor_bg_color</key>
		<integer>855638015</integer>
		<key>function_headerbar_editor_border_color</key>
		<real>419430400</real>
		<key>function_history_record_detail_color</key>
		<real>2130706432</real>
		<key>function_history_record_title_color</key>
		<integer>4278190080</integer>
		<key>function_history_sectionheader_bg</key>
		<real>268435456</real>
		<key>function_search_aggregationcell_button_bg_color</key>
		<integer>855638015</integer>
		<key>function_search_greateip_btn_bgcolor</key>
		<integer>855638015</integer>
		<key>function_search_hotwords_bg_normal</key>
		<real>3439329279</real>
		<key>function_search_hotwords_text_color</key>
		<integer>4280163870</integer>
		<key>function_search_hotwords_title_color</key>
		<integer>4280163870</integer>
		<key>function_search_history_title_bg</key>
		<real>436207616</real>
		<key>function_search_ discount_bg</key>
		<integer>1694498815</integer>
		<key>function_search_match_recordUrl_color</key>
		<real>2350784030</real>
		<key>function_search_match_recordUrl_color_highlight</key>
		<integer>4280163870</integer>
		<key>function_skin_wallpapper_bg_mask_color</key>
		<integer>872415231</integer>
		<key>function_startpageheaderbar_bg_color</key>
		<integer>2164260863</integer>
		<key>homepage_feeds_cell_bgcolor</key>
		<real>436207615</real>
		<key>homepage_feeds_cell_bigseperator_color</key>
		<real>218103808</real>
		<key>homepage_feeds_cell_selected_bgcolor</key>
		<real>218103808</real>
		<key>homepage_feeds_common_color_A1</key>
		<integer>4281941056</integer>
		<key>homepage_feeds_common_color_A2</key>
		<integer>2570665024</integer>
		<key>homepage_feeds_common_color_A5</key>
		<integer>872415231</integer>
		<key>homepage_feeds_common_color_A8</key>
		<real>4281941056</real>
		<key>homepage_feeds_common_color_B1</key>
		<integer>4283210490</integer>
		<key>homepage_feeds_common_color_B6</key>
		<integer>4281775882</integer>
		<key>homepage_feeds_common_color_B7</key>
		<integer>4287220523</integer>
		<key>homepage_feeds_common_color_D2</key>
		<real>436207616</real>
		<key>homepage_feeds_common_color_RedBright</key>
		<real>4294787420</real>
		<key>homepage_feeds_common_color_separator</key>
		<real>419430400</real>
		<key>homepage_feeds_common_color_separator_card</key>
		<real>218103808</real>
		<key>homepage_feeds_common_commentview_bgcolor</key>
		<real>218103808</real>
		<key>homepage_feeds_common_commentview_bordercolor</key>
		<real>218103808</real>
		<key>homepage_feeds_common_tab_color</key>
		<integer>4281941056</integer>
		<key>homepage_feeds_common_tipsview_bgcolor</key>
		<integer>3003121663</integer>
		<key>mainmenu_menu_user_bg</key>
		<real>637534208</real>
		<key>menu_background_mask_color</key>
		<real>1358954495</real>
		<key>profile_nickname_text_nightmode</key>
		<string>4282736238</string>
		<key>profile_qqnumber_label_color</key>
		<integer>4286940549</integer>
		<key>push_text_color</key>
		<integer>2350784030</integer>
		<key>push_text_color_highlight</key>
		<integer>4280585202</integer>
		<key>quicklink_editview_background_color</key>
		<real>4293980400</real>
		<key>quicklink_thumbitem_shadow_color</key>
		<integer>452984831</integer>
		<key>quicklink_thumbitem_title_shadow_color</key>
		<real>2164260863</real>
		<key>quicklinkfolder_bg_color</key>
		<integer>855638016</integer>
		<key>rc_background_color</key>
		<integer>4293848819</integer>
		<key>rc_billboard_bottom_border_color</key>
		<integer>4291677645</integer>
		<key>rc_tab_customizing_background_color</key>
		<integer>4294506744</integer>
		<key>rc_tab_customizing_tip_color</key>
		<integer>4287466893</integer>
		<key>search_vertical_entrance_btn_color</key>
		<integer>1694498815</integer>
		<key>search_vertical_leftview_btn_color</key>
		<real>1694498815</real>
		<key>segment_btn_pressed_color</key>
		<real>4284597501</real>
		<key>setting_tableViewCell_rightLabel_color</key>
		<integer>1931353630</integer>
		<key>startpage_background_color</key>
		<integer>436207615</integer>
		<key>startpage_folder_bottomline_color</key>
		<real>438181406</real>
		<key>startpage_hotsite_title_color</key>
		<integer>4280756007</integer>
		<key>startpage_hotsite_title_shadow_color</key>
		<real>2164260863</real>
		<key>startpage_integral_center_background_color</key>
		<real>872415231</real>
		<key>startpage_searchview_background_color</key>
		<integer>2147483647</integer>
		<key>startpage_searchview_background_mask_color</key>
		<real>872415231</real>
		<key>startpage_topbar_background_mask_color</key>
		<real>872415231</real>
		<key>theme_bookmark_color_bg</key>
		<integer>0</integer>
		<key>theme_common_color_a1</key>
		<integer>3774873600</integer>
		<key>theme_common_color_a2</key>
		<integer>3154116608</integer>
		<key>theme_common_color_a3</key>
		<integer>2516582400</integer>
		<key>theme_common_color_a4</key>
		<integer>1677721600</integer>
		<key>theme_common_color_a5</key>
		<integer>4294967295</integer>
		<key>theme_common_color_a6</key>
		<integer>1681077043</integer>
		<key>theme_common_color_b1</key>
		<integer>4283210490</integer>
		<key>theme_common_color_b2</key>
		<integer>4294199351</integer>
		<key>theme_common_color_b3</key>
		<integer>4284141855</integer>
		<key>theme_common_color_b4</key>
		<integer>4284728319</integer>
		<key>theme_common_color_b5</key>
		<integer>4294934594</integer>
		<key>theme_common_color_b6</key>
		<integer>4287227684</integer>
		<key>theme_common_color_b7</key>
		<integer>4294941487</integer>
		<key>theme_common_color_b8</key>
		<integer>4294954811</integer>
		<key>theme_common_color_c1</key>
		<integer>4281545523</integer>
		<key>theme_common_color_c2</key>
		<integer>4286019447</integer>
		<key>theme_common_color_c3</key>
		<integer>4289374890</integer>
		<key>theme_common_color_c4</key>
		<integer>4291611852</integer>
		<key>theme_common_color_c5</key>
		<integer>4294967295</integer>
		<key>theme_common_color_c6</key>
		<integer>1681077043</integer>
		<key>theme_common_color_c7</key>
		<integer>4211081215</integer>
		<key>theme_common_color_c8</key>
		<integer>939524095</integer>
		<key>theme_common_color_c9</key>
		<real>1682787661</real>
		<key>theme_common_color_d1</key>
		<integer>0</integer>
		<key>theme_common_color_d10</key>
		<integer>4283210490</integer>
		<key>theme_common_color_d11</key>
		<integer>2533359615</integer>
		<key>theme_common_color_d2</key>
		<real>1694498815</real>
		<key>theme_common_color_d3</key>
		<integer>436207616</integer>
		<key>theme_common_color_d4</key>
		<real>436207616</real>
		<key>theme_common_color_d5</key>
		<integer>436207616</integer>
		<key>theme_common_color_d6</key>
		<integer>838860800</integer>
		<key>theme_common_color_d7</key>
		<integer>2147483647</integer>
		<key>theme_common_color_d8</key>
		<real>3610456883</real>
		<key>theme_common_color_d9</key>
		<real>1682787661</real>
		<key>theme_common_color_e1</key>
		<integer>4293256677</integer>
		<key>home_search_placeholder_color</key>
		<integer>3154116608</integer>
	</dict>
	<key>md5</key>
	<string></string>
	<key>name</key>
	<string>浅色壁纸</string>
	<key>predefine</key>
	<false/>
	<key>rn_entrance_bg_color</key>
	<integer>0</integer>
	<key>skinid</key>
	<integer>65535</integer>
	<key>version</key>
	<integer>4</integer>
	<key>wallPaper</key>
	<integer>1</integer>
</dict>
</plist>
